[data-theme="gloomySunday"]{
    --font-color:rgb(12, 12, 12);
    --bg-color: rgb(197, 197, 196);
    --intro-color: rgb(93, 99, 110);
    --hoverColor:rgb(106, 106, 107);
    --signColor: rgb(68, 65, 70);
    --fieldOne: rgb(193, 212, 212);
    --fieldTwo: rgb(60, 82, 82);
    --popUpColor: rgb(148, 167, 167);
    --buttonHoverColor:rgb(219, 222, 223);
    
}