@import './mixins.scss';
@import './gloomySunday.scss';
@import './sweets.scss';
@import './standardSizes.scss';

body {
    color: var(--font-color);
    background-color: var(--bg-color);
}
  
.intro{
    @include forContainers();
    @include forTransitions();
    background-color: var(--intro-color);
    font-size: var(--introFontSize);  
}
         

#menuContainer{
    @include forContainers();
    
}
  
.item{
    padding:var(--standardPadding);
}
  
.item:hover{
    background-color: var(--hoverColor);
    transition: var(--transitionTime) ease-in-out;
    cursor: var(--standardCursor);
}