    :root{
        --standardFontSize: 10px;
        --containersPosition: center;
        --flexBox: flex;
        --columnDir:column;
        --introFontSize:20px;
        --standardSize: 50px;
        --bigSize:150px;
        --introFontSize:20px;
        --bigFont:30px;
        --standardPadding:10px;
        --transitionTime: 0.5s;
        --standardCursor: pointer;
        --boardFontSize: 5ch;
        --biggerFontSize:15px;
        --zero: 0;
        --bigPadding:15px;
        --introTransition:1s;
    }