@import './sweets.scss';
body {
  color: $font-color;
  background-color: $bg-color;
}
@mixin forContainers {
  display: $flexBox;
  justify-content: $containersPosition;
  flex-direction: $columnDir;
  text-align: $containersPosition;
  font-family: Arial, Helvetica, sans-serif;
  padding:1.5 * $standardFontSize;
}
.intro{
    @include forContainers();
    background-color: $intro-color;
    font-size: 2* $standardFontSize;
    transition: 1s ease;
    transform: scale(0,0);
}
    
.introOnLoad{
    transform: scale(1,1);
} 

.Field{
  width: 50px;
  height: 50px;
  
}
.Board{
  display:flex;
  flex-direction: column;
  margin: 0 auto;
  color:$signColor;
  font-size: 5ch;
  text-align: center;
}
.Line{
  display:flex;
  justify-content: center;
}
.menuContainer{
  @include forContainers();
  
}

.item{
  padding:10px;
}
.item:hover{
  background-color: $hoverColor;
  transition: 0.5s ease-in-out;
}