$font-color:rgb(94, 90, 90);
$bg-color: beige;
$intro-color: rgb(128, 188, 206);
$standardFontSize: 10px;
$containersPosition: center;
$flexBox: flex;
$columnDir:column;
$hoverColor:rgb(236, 132, 214);
$signColor: rgb(255, 0, 149);