[data-theme="sweets"]{
    --font-color:rgb(94, 90, 90);
    --bg-color: beige;
    --intro-color: rgb(185, 109, 230);
    --hoverColor:rgb(236, 132, 214);
    --signColor: rgb(255, 0, 149);
    --fieldOne: pink;
    --fieldTwo: aqua;
    --popUpColor: rgb(226, 88, 173);
    --buttonHoverColor:rgb(242, 245, 247);
    
}